@charset "UTF-8";
body {
  font-family: "Mynerve", sans-serif;
  font-size: 16px;
  font-weight: normal;
  overflow-x: hidden;
  background-color: var(--white);
}

ul {
  list-style: none;
}

a {
  color: white;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.container {
  max-width: 1536px;
  margin: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

@media (max-width: 1536px) {
  .container {
    max-width: 1284px;
  }
}
@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
}
@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }
}
@media (max-width: 640px) {
  .container {
    max-width: 475px;
  }
}
@media (max-width: 475px) {
  .container {
    max-width: 100%;
  }
}
:root {
  --main-font-family: "Lobster", sans-serif;
  --main-color: #00a78e;
  --shadow-black-100: 0 5px 15px rgba(0, 0, 0, 0.2);
  --black-900: #000;
  --black-400: #646f87;
  --black-100: #f7f7f7;
  --white: #fff;
  --black-alpha-100: rgba(0, 0, 0, 0.5);
}

.logo {
  max-width: 150px;
  height: auto;
}

.navbar {
  position: fixed;
  z-index: 999;
  width: 100%;
  background-color: white;
  border-bottom: 2px solid #00a78e;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .navbar .menu {
    display: none;
  }
}
.navbar .menu .nav-item {
  display: inline-block;
  position: relative;
  margin-left: 50px;
  padding-right: 20px;
}

.navbar .menu .nav-item .nav-link {
  color: #333;
  font-family: "Lobster", cursive;
  font-size: 30px;
  font-weight: 600;
  display: block;
  text-transform: capitalize;
  padding: 10px 0;
}

.navbar .nav-item .nav-link span {
  width: 0;
  height: 2px;
  background-color: var(--black-100);
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 50px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-out;
}

.navbar .nav-item .nav-link span::before {
  position: absolute;
  content: "";
  width: 0;
  height: 2px;
  background-color: var(--black-100);
  left: 110%;
}

.navbar .nav-item .nav-link span::after {
  position: absolute;
  content: "";
  width: 0;
  height: 2px;
  background-color: var(--black-100);
  left: 140%;
}

.navbar .nav-item > .nav-link.active,
.navbar .nav-item:hover > .nav-link {
  color: #00a78e;
}

.navbar .nav-item > .nav-link.active span,
.navbar .nav-item:hover > .nav-link span {
  opacity: 1;
  visibility: visible;
  width: 60%;
  background-color: #00a78e;
}

.navbar .nav-item > .nav-link.active span::before,
.navbar .nav-item:hover > .nav-link span::before {
  width: 20%;
  background-color: #00a78e;
}

.navbar .nav-item > .nav-link.active span::after,
.navbar .nav-item:hover > .nav-link span::after {
  width: 15%;
  background-color: #00a78e;
}

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.justify-content-between {
  justify-content: space-between;
}

.navbar-toggle {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  width: 30px;
  height: 20px;
  cursor: pointer;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .navbar-toggle {
    display: flex;
    /* W wersji mobilnej będzie widoczny */
  }
}
.navbar-toggle span {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #333;
  transition: transform 0.3s, opacity 0.3s;
  margin-bottom: 5px;
  position: relative;
}

.navbar-toggle span:first-child {
  display: none;
}

.navbar-toggle.active span:nth-child(2) {
  transform: rotate(45deg);
}

.navbar-toggle.active span:nth-child(3) {
  transform: rotate(-45deg);
}

.mobile-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: white;
  padding: 10px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 100vh;
}

.mobile-menu.active {
  display: block;
}

.mobile-menu__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mobile-menu__item {
  margin-bottom: 10px;
}

.mobile-menu__link {
  display: block;
  padding: 20px;
  margin-bottom: 30px;
  color: #333;
  text-align: center;
  font-family: "Lobster", cursive;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition: background-color 0.3s;
}

.mobile-menu__link:hover {
  background-color: rgba(0, 167, 142, 0.9333333333);
}

.home {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  overflow: hidden;
  padding: 2rem;
  /* 3D rotating slider */
}
.home .home__content {
  text-align: center;
  z-index: 2;
}
.home .home__content h1 {
  font-size: 3rem;
  color: #333;
  font-family: "Lobster", cursive;
  margin-bottom: 3rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
.home .about__slider {
  position: relative;
  width: 200px;
  height: 200px;
  transform-style: preserve-3d;
  animation: rotate 30s linear infinite;
}
.home .about__slider span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: center;
  transform-style: preserve-3d;
  transform: rotateY(calc(var(--i) * 45deg)) translateZ(350px);
  -webkit-box-reflect: below 0px linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.2666666667));
}
.home .about__slider span img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 40px;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 2s;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
.home .about__slider:hover {
  animation-play-state: paused;
  cursor: pointer;
}
.home .about__slider span:hover img {
  border: 2px solid white;
  box-shadow: 0 0 30px white;
}
@keyframes rotate {
  0% {
    transform: perspective(1000px) rotateY(0deg);
  }
  100% {
    transform: perspective(1000px) rotateY(360deg);
  }
}

.about {
  padding: 2rem;
  background-color: #f9f9f9;
}
.about h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #333;
  font-family: "Lobster", cursive;
}
.about p {
  font-size: 1.2rem;
  line-height: 1.5;
  color: #555;
}

/* Portfolio Section - Projects */
.project {
  padding: 4rem 2rem;
  background-color: #f5f5f5;
}
.project .project__title {
  font-size: 2rem;
  text-align: center;
  color: #333;
  margin-bottom: 2rem;
  font-family: "Lobster", cursive;
}
.project .container {
  max-width: 1200px;
  margin: 0 auto;
  /* Slider dots (navigation) */
  /* Slider arrows */
}
.project .container .slider {
  display: flex;
  align-items: center;
  justify-content: center;
}
.project .container .slider .slider__item {
  margin: 0 1rem;
  padding: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: white;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}
.project .container .slider .slider__item:hover {
  transform: scale(1.05);
  /* Subtelne powiększenie podczas najechania */
}
.project .container .slider .slider__item img {
  max-width: 100%;
  border-radius: 10px;
  height: auto;
}
.project .container .slick-dots {
  text-align: center;
  margin-top: 1.5rem;
}
.project .container .slick-dots li {
  display: inline-block;
  margin: 0 5px;
}
.project .container .slick-dots li button {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #999;
  border: none;
  cursor: pointer;
}
.project .container .slick-dots li.slick-active button {
  background-color: #333;
}
.project .container .slick-prev,
.project .container .slick-next {
  background-color: #333;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
.project .container .slick-prev:hover,
.project .container .slick-next:hover {
  background-color: #555;
}
.project .container .slick-prev {
  left: -50px;
}
.project .container .slick-next {
  right: -50px;
}

.contact {
  padding: 2rem;
  background-color: #fff;
}
.contact h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #444;
  font-family: "Lobster", cursive;
}
.contact p {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}
.contact p a {
  color: #007bff;
  text-decoration: none;
}

.usługi {
  padding: 2rem;
  background-color: #e2e2e2;
}
.usługi h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-family: "Lobster", cursive;
  color: #333;
}
.usługi p {
  font-size: 1.2rem;
  line-height: 1.5;
  color: #555;
}
.usługi ul {
  list-style: none;
}
.usługi ul li {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
  color: #444;
}/*# sourceMappingURL=main.css.map */