.contact {
  padding: 2rem;
  background-color: #fff;

  h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #444;
    font-family: 'Lobster', cursive;
  }

  p {
    font-size: 1rem;
    margin-bottom: 0.5rem;

    a {
      color: #007bff;
      text-decoration: none;
    }
  }
}