.free-quote {
    background-color: #f9f9f9;
    border: 2px solid #00a78e;
    text-align: center;
    padding: 30px;
    
    margin-bottom: 50px;
  
}
.free-quote h3{
    font-size: 2.5rem;
        margin-bottom: 1rem;
        color: #333;
        font-family: 'Lobster', cursive;
}
.free-quote i {
    margin-right: 0.5rem;
    color: #00a78e;
}

.free-quote p {
    font-size: 1.2rem;
    color: #444;
}