.usługi {
    padding: 2rem;
    background-color: #e2e2e2;

    h3 {
        font-size: 2rem;
        margin-bottom: 1rem;
        font-family: 'Lobster', cursive;
        color: #333;
    }
p {
    font-size: 1.2rem;
    line-height: 1.5;
    color: #555;
}
    ul {
        list-style: none;

        li {
            font-size: 1.1rem;
            margin-bottom: 0.5rem;
            color: #444;
        }
    }
}