:root {
    --main-font-family: 'Lobster', sans-serif;
    --main-color: #00a78e;
    --shadow-black-100: 0 5px 15px rgba(0, 0, 0, 0.2);
    --black-900: #000;
    --black-400: #646f87;
    --black-100: #f7f7f7;
    --white: #fff;
    --black-alpha-100: rgba(0, 0, 0, 0.5);
}